/* styles.css */
#sun {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: gray; /* 행성의 색상을 설정합니다 */
}
